* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#list-container {
  display: flex;
  flex-direction: column;
}

.game-container {
  display: flex;
  gap: 10px;
}

.finished {
  background-color: lightgray;
}

.game-container input:first-of-type {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  flex-shrink: 1;
  max-width: 1em;
}
